.hero {
  background-color: var(--basic-background, rgba(104, 183, 56, 0.85));
}

.hero__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: var(--text-light-color, #ffffff);
  margin: 0;
}

.hero__text {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: var(--text-light-color, #ffffff);
  text-transform: uppercase;
  margin: 0;
}
