.main-nav {
  //
}

.main-nav__toggle {
  //
}

.main-nav__list {
  display: none;
}

.main-nav--open .main-nav__list {
  position: fixed;
  top: 65px;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
}
