.main-footer {
  //
}

.main-footer__image {
  //
}

.main-footer__social {
  //
}

.main-footer__developer {
  font-size: 16px;
  line-height: 20px;
  color: var(--text-basic-color);
  text-decoration: none;
}
