.usage {
  padding-bottom: 49px;
}

.usage__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    counter-reset: example 0;
  }
}

.usage__item {
  display: flex;
  gap: 20px;
  position: relative;

  @media (min-width: $width-tablet) {
    counter-increment: myIndex;
    min-height: 280px;
    flex-direction: column;
  }
}

@media (min-width: $width-tablet) {
  .usage__item::after {
    content: counter(myIndex);
    font-size: 280px;
    line-height: 1;
    color: #f2f2f2;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.usage__item::before {
  content: "";
  min-width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  background-image: var(--icon-usage);
  background-color: var(--basic-background-color, #68b738);
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $width-tablet) {
    width: 60px;
  }
}

.usage__item--health {
  --icon-usage: url("../../icons/stack.svg#leaf");
}

.usage__item--water {
  --icon-usage: url("../../icons/stack.svg#water");
}

.usage__item--food {
  --icon-usage: url("../../icons/stack.svg#eat");
}

.usage__item--time {
  --icon-usage: url("../../icons/stack.svg#time");
}

.usage__text {
  margin: 0;

  @media (min-width: $width-tablet) {
    margin-right: 85px;
  }
}
